<?xml version="1.0"?>
<configuration>
  <connectionStrings>
    <add name="LPG_VT" connectionString="Data Source=(ORADESA.WORLD=(DESCRIPTION=(ADDRESS=(PROTOCOL=TCP)(HOST=10.20.32.103)(PORT=1521))(CONNECT_DATA=(SERVER=dedicated)(SID=oradesa))));user id=INSUDB;password=positiva"/>
    <!--<add name="LPG_VT" connectionString="Data Source=(ORATEST.WORLD=(DESCRIPTION=(ADDRESS=(PROTOCOL=TCP)(HOST=50.0.0.193)(PORT=1521))(CONNECT_DATA=(SERVER=dedicated)(SID=oraprod))));user id=INSUDB; password=#vtme.ins04!"/>-->
    <!--<add name="LPG_VT" connectionString="Data Source=(ORADESA.WORLD=(DESCRIPTION=(ADDRESS=(PROTOCOL=TCP)(HOST=50.0.0.193)(PORT=1522))(CONNECT_DATA=(SERVER=dedicated)(SID=oradesa))));user id=TEDEF;password=lp2008"/>-->
    <add name="LPG_INX" connectionString="Provider=Ifxoledbc.2;User ID=lotnote0;Password=notes99;Data Source=insunixdb@delta;Extended Properties=;Persist Security Info=True"/>
    <add name="LPV_VT" connectionString="Data Source=(ORATEST.WORLD=(DESCRIPTION=(ADDRESS=(PROTOCOL=TCP)(HOST=50.0.0.193)(PORT=1521))(CONNECT_DATA=(SERVER=dedicated)(SID=oraprod))));user id=LPVINSUDB; password=LPVINSUDB01"/>
    <!--<add name="LPV_VT" connectionString="Data Source=(ORADESAVIDA.WORLD=(DESCRIPTION=(ADDRESS=(PROTOCOL=TCP)(HOST=10.10.35.47)(PORT=1521))(CONNECT_DATA=(SERVER=dedicated)(SID=oradesa))));user id=LPVINSUDB;password=lpvinsudb"/>-->
    <add name="LPV_INX" connectionString="Provider=Ifxoledbc.2;User ID=lotnote2;Password=notes99;Data Source=insunixdb@delta1;Extended Properties=;Persist Security Info=True"/>
    <add name="LPE_INX" connectionString="Provider=Ifxoledbc.2;User ID=lotnote0;Password=notes99;Data Source=insunixdb@delta_eps;Extended Properties=;Persist Security Info=True"/>
    <add name="AFF_SQL" connectionString="Data Source= 10.10.30.29,1433; Initial Catalog=AffinityMac; User Id=useraffinity;Password=pass@word1; Network Library=DBMSSOCN"/>
  </connectionStrings>
  <!--<appSettings>
    <add key="AllowedCharacters" value="._-°, "/>
  </appSettings>-->
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
</configuration>